{% extends 'base.html' %}

{% block content %}

<div class="navbar transparent navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
      
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-right-search">
              <li>
                <form class="form-search form-inline nav-not-li">
                  <input type="text" class="form-control search-query" placeholder="Search..." />
                </form>
              </li>
            </ul>
          </div>
      
   </div>
</div>

{% endblock %}
